<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">
    <%= image_tag "gym-logo2.png", class:"gym-icon"%>
  </a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="顧客名を検索" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-outline-success my-2 my-sm-0" %>
  </form>
</nav>
