<div class="card">
  <%= link_to image_tag(client.image, size: '300x400', class: :card__img), client_path(client.id), method: :get%>
  <div class="card__body">
    <%= link_to prototype.title, client_path(client.id), method: :get, class: :card__title%>
    <p class="card__summary">
      <%= "client.catch_copy" %>
    </p>
    <%= link_to "by #{client.user.name}", user_path(client.user_id), class: :card__user %>
  </div>
</div>