<div class="jumbotron">
  <div class='index-content text-center'>
    <h1 class='home-index'>大切な顧客がまた来たくなるジムへ</h1>

    <div class='index-btn d-flex justify-content-around'>
      <%= link_to '新規登録', new_user_registration_path, class: "btn btn-success btn-lg" %>
      <%= link_to 'ログイン', new_user_session_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>